.Menu {
    width: 100%;
    height: auto;
    background-color: black;
}

.MenuContainer {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.NavContainer {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 20;
    top: 0;

}

.MenuElementsContainer {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background-color: rebeccapurple;
    position: relative;

}

@media only screen and (max-width: 600px) {
    .NavContainer {
        width: 100%;
        height: 60px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        z-index: 20;
        top: 0;

    }

    .MenuElementsContainer {
        width: 100%;
        height: 100%;
        margin-top: 60px;
        background-color: rebeccapurple;
        position: relative;

    }
}